<div class="bx-profile">
    <section>
        <img src="assets/img8.jpg" alt="Profile Picture">
        <h1>{{fname}} {{lname}}</h1>
    
        <div class="details">
            <h2 [innerText]="title"></h2>
            <p [class]="myClass" appHoverDirective>{{email}}</p>
            <p [class]="myClass" appHoverDirective>{{phone}}</p>
        </div>
    
        <div class="details">
            <h2 [innerText]="title1"></h2>
            <p [class]="myClass">Location: {{location}}</p>
          
        </div>
        
     
    </section>
    </div>