<div appCustomeDirective >
    <div class="product-fhalf">
        <img src="assets/img9.png" alt="">
        <p class="bx-p">Good Food Good Mood <br>
            </p>
    </div>
    <div class="product-shalf">
        <div class="first">
        <div class="column"  >
            <div class="card" appHoverDirective>
             
              <div class="container" >
                <img src="assets/img3.webp" alt="">
                
                <p class="title" >Pasta & Risotto</p>
                <p>Some text that describes me lorem ipsum ipsum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, error? Voluptatem veniam error ullam recusandae.</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card" appHoverDirective>
             
              <div class="container">
                <img src="assets/img4.webp" alt="">
                
                <p class="title">Soup</p>
                <p>Some text that describes me lorem ipsum ipsum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, error? Voluptatem veniam error ullam recusandae.</p>
              </div>
            </div>
          </div>
          <div class="column" >
            <div class="card" appHoverDirective>
             
              <div class="container">
                <img src="assets/img5.webp" alt="">
                
                <p class="title">Roast</p>
                <p>Some text that describes me lorem ipsum ipsum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, error? Voluptatem veniam error ullam recusandae.</p>
              </div>
            </div>
          </div>
        
    </div>
    <div class="second">
        <div class="column">
            <div class="card" appHoverDirective>
             
              <div class="container">
                <img src="assets/img6.webp" alt="">
                
                <p class="title">Stew</p>
                <p>Some text that describes me lorem ipsum ipsum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, error? Voluptatem veniam error ullam recusandae.</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card" appHoverDirective>
             
              <div class="container">
                <img src="assets/img7.webp" alt="">
                
                <p class="title">Sandwiches & Wraps</p>
                <p>Some text that describes me lorem ipsum ipsum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, error? Voluptatem veniam error ullam recusandae.</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card" appHoverDirective>
             
              <div class="container">
                <img src="assets/img8.webp" alt="">
                
                <p class="title">Muffins</p>
                <p>Some text that describes me lorem ipsum ipsum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, error? Voluptatem veniam error ullam recusandae.</p>
              </div>
            </div>
          </div>
    </div>
</div>
</div>
