<div class="about-section">
    <h1>Food is not just fuel, it's an experience</h1>
    <p>Life is short, eat the sprinkles!" "I'm feeling jalapeño business with this spicy meal!" "I'm on cloud wine with this delicious drink!" "This food is the real dill."</p>

  </div>
<div appCustomeDirective>
    
    <div class="product-shalf">

<h1>FOOD IS MY LOVE LANGUAGE</h1>
<p>Feasting my way through life, one bite at a time</p>
<button appButtonDirective routerLink="recipes">EXPLORE NOW</button>
</div>
<div class="product-fhalf">
    <img src="assets/img1.jpg" alt="">
    <button appButtonDirective routerLink="about">Author Details</button>
</div>

</div>
<router-outlet></router-outlet>
